.main-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;

}

.Register{
  background: url(bg.jpg) no-repeat;
  background-size:cover ;
  background-position: center;
}

.Register h3{
  font-size: 50px;
  margin-bottom: -30px;
  position: static;
  position: relative;
  bottom: 150px;
  color: rgb(167, 80, 37);
}

.show-password{
  position: relative;
  top: -15px;
  
}

.login-container a{
  color: orange;
  text-decoration: none;
  font-size: 35px;
}
.login-container a:active{
  color: red;
}
