  .main-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    height: 100vh;
 
  }
  
  .form-group input:focus::placeholder {
    color: transparent; 
  }

  .Login{
    background: url(bg.jpg) no-repeat;
    background-size:cover ;
    background-position: center;
  }
  .form-container  {
    
    padding: 10rem 10rem;
    background-image:linear-gradient(160deg, rgba(0,0,0,0.9), rgb(70, 9, 9, .9)) ;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);   
    font-family: sans-serif, verdana;
    box-shadow: 10px 10px 5px;
    border-radius:  0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

 
  .logo img{
display: block;
width: auto;
max-width: 150px; 
  height: auto;  
  position: relative;
  bottom: 80px;

  }

  .form-container h3 {
    font-size: 50px;
    margin-bottom: 30px;
    position: static;
    position: relative;
    bottom: 100px;
    color: rgb(167, 80, 37);
  }

  .form-container > div {
    margin-bottom: 10px;
  }

  .form-group {
    display: flex;  
  }
  .form-group input{
  background-color: black;
  width: 400px;
  height: 50px;
  border-radius:10px ;
  border-color: red;
  border-width: 5px;
  }



  .show-password{
    color: white;
  }
  .form-group input::placeholder{
    color: orange;
    font-size: 20px;
  }
  .errors {
    color: red;
    font-size: 12px;
  }
  .submit-container {
    margin-top: 10px;
    text-align: center;
  }
  .register-container {
    text-align: center;
  }
  .show-password {
    margin-bottom: 1rem;
    font-size: 20px;
    cursor: pointer;
  }

  .submit-container button{
    width: 200px;
    height: 45px;
    background: brown;

  }
